@import 'sass/variables', 'sass/mixins';

:root {
   @include reset;
   padding: 30px 20px 0 20px;
}

body {
   @include reset;
   height: 100vh;
   overflow: hidden;
   background: linear-gradient(0deg, rgba(176,70,147,1) 0%, rgba(54,99,125,1) 100%); 
   font-family: "Space Grotesk", sans-serif;
   background-size: cover;
   background-attachment: fixed;
}
.main {
   height: 100%;
   width: 100%;
   @include flex(column, space-between, center, none);
   .navbar {
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      align-items: flex-start;
      display: flex;
      gap: 20px;
      height: 15vh;
      button:not(.click-menu, .en, .de, .pl), .nav-theme {
         opacity: 0;
         pointer-events: none;
      }
      .nav-btn {
         font-family: "Space Grotesk", sans-serif;
         border: none;
         color: white;
         font-size: 2em;
         font-weight: 700;
         background: none;
         &:hover {
            cursor: pointer;
         }
      }
      .nav-btn:not(.nav-theme, .nav-drop) {
         border-bottom: 5px solid white; 
         transition: all .2s ease-in-out;
         &:hover {
            padding-bottom: 10px;
         }
      }
      .nav-drop {
         color: white;
         border: white solid 3px;
         border-radius: 10px;
         width: 210px;
         height: 60px;
      }
      .click-menu {
         display: none;
         border: none;
         background: none;
         &:hover {
            cursor: pointer;
         }
      }
   }
   .main-text {
      @include flex(column, center, center, center);
      .intro-text {
         @include flex(column, center, center, center);
         .top {
            color: $--primary-color;
            font-weight: bold;
            font-size: 4.5em;
            @include flex(row, center, center, center);
            gap: 0.25em;
            .third {
              color: $--secondary-color;
            };
         }
         .bottom {
            font-size: 2em;
            color: $--tertiary-text;
            font-weight: 500;
         }
      }
      .start {
         height: 80px;
         width: 340px;
         background-color: rgba(143, 152, 236, 0.26);
         color: $--primary-color;
         border: none;
         border-radius: 30px;
         font-weight: 500;
         font-size: 2.5em;
         box-shadow: 0px 7px 9.8px -1px rgba(0, 0, 0, 0.30);
         pointer-events: none;
         &:hover {
            cursor: pointer;
         }
      }
   }
   .main-footer {
      color: red;
      @include flex(row, center, center, center);
      height: 20vh;
      .main-footer-svg {
         opacity: 0;
      }
   }
}

.drop-menu {
   border: 3px solid rgb(255, 255, 255);
   border-radius: 10px;
   padding: 5px 0 5px 0;
   position: absolute;
   width: 210px;
   height: 200px;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   button {
      font-family: "Space Grotesk", sans-serif;
      font-weight: 500;
      border: none;
      background: none;
      font-size: 2em;
      color: white;
      margin-left: 10px;
      transition: all .3s ease-in-out;
      &:hover {
         cursor: pointer;
         color: $--secondary-color;
      }
   }
}

@media screen and (max-width: 700px) {
   .main {
      .main-text {
         .intro-text {
            .top {
               font-size: 2.5em;
            }
            .bottom {
               font-size: 1em;
            }
         }
         .start {
            height: 53px;
            width: 238px;
            font-size: 2em;
         }
      }
   }
}

@media screen and (max-width: 800px) {
   .main {
      .navbar {
         .nav-btn {
            display: none;
         }
         .click-menu {
            display: block;
            opacity: 0;
         }
         .drop-menu {
            display: none;
            opacity: 0;
         }
      }
   }
}